body {
	margin: 0;
	/* background-color: #000; */
	background-color: #eae2d7;
	color: gray;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}


a:hover {
	text-decoration: underline;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.primary-panel {
	position:absolute;
	outline: 2px dashed gray;
	display: grid;
	gap: 1em;
	padding: 1em;
}

#control-panel {    
    bottom: 0;
	width: 25vw;
	font-size: 0.8em;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: stretch; */
	align-items: center;
}

#options-panel {
	bottom: 0;
	right: 0;
}

.info-label {
	text-decoration: 1.5px dashed underline;
	transition: 0.25s ease-in-out;
}

button {
	border: 2px solid gray;
	border-radius: 0.5em;
	color: gray;
	width: fit-content;
	padding: 0.25em;
	font-size: 1.2em;
}

.sub-panel {
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* gap: 1em; */
}

.sub-panel-title {
	text-decoration: underline;
	font-size: 1.3em;
}

.sub-div {
	width: 100%;
	color: transparent;
	border-bottom: dashed 2px gray
}

.parameters-panel {
	width: 100%;
}

.together {
	display: flex;
	justify-content: center;
	gap: 1em;
}

.square-map-container {
	top: 0;
	right: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#square-map {
	border: 1.5px solid black;
	background-color: rgb(213, 213, 213);
	height: 15vw;
	width: 15vw;
	margin-top: 1em;
	margin-right: 1em;
}

input[type="range"] {
	width: 50%;
}